---
import SocialBtn from "./SocialBtn.astro";
---
        
<!-- About section -->
<section class="flex h-screen flex-col gap-8 pb-32 pt-24 sm:justify-center">
    <!-- Availability status -->
    <div class="flex w-fit items-center rounded-full gap-3 py-1.5 pl-3 pr-4 border border-zinc-600/75 bg-slate-950/25 enter-animation">
        <div class="relative size-4">
            <div class="absolute size-full animate-ping rounded-full bg-green-300 opacity-65"></div>
            <div class="drop-shadow-green size-full rounded-full bg-green-400"></div>
        </div>
        <h3 class="text-lg text-slate-200 max-xs:text-xs">Available for work</h3>
    </div>

    <!-- Title and description CHANGE!!! -->
    <h1 class="enter-animation text-[clamp(2rem,7vw,3rem)] font-medium leading-[1.05] tracking-tight">
        Hi, I'm Alex. <br> A software developer.
    </h1>
    <h2 class="enter-animation mb-8 max-w-xl leading-relaxed text-slate-400 max-sm:text-sm">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod illum quam odit cum.
        Natus facilis quam unde, ipsum doloribus cupiditate! 
        Tenetur, expedita illo dolorem pariatur enim aspernatur debitis repellendus dolores?
    </h2>

    <div class="flex items-start text-center max-sm:flex-col enter-animation" data-astro-cid-socials>
        <div class="board" data-astro-cid-socials>
            <SocialBtn name="Github" url="https://github.com/Kattuuss">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-astro-cid-socials="true">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor">
                        <path d="M10 20.568c-3.429 1.157-6.286 0-8-3.568"></path>
                        <path d="M10 22v-3.242c0-.598.184-1.118.48-1.588c.204-.322.064-.78-.303-.88C7.134 15.452 5 14.107 5 9.645c0-1.16.38-2.25 1.048-3.2c.166-.236.25-.354.27-.46c.02-.108-.015-.247-.085-.527c-.283-1.136-.264-2.343.16-3.43c0 0 .877-.287 2.874.96c.456.285.684.428.885.46s.469-.035 1.005-.169A9.5 9.5 0 0 1 13.5 3a9.6 9.6 0 0 1 2.343.28c.536.134.805.2 1.006.169c.2-.032.428-.175.884-.46c1.997-1.247 2.874-.96 2.874-.96c.424 1.087.443 2.294.16 3.43c-.07.28-.104.42-.084.526s.103.225.269.461c.668.95 1.048 2.04 1.048 3.2c0 4.462-2.134 5.807-5.177 6.643c-.367.101-.507.559-.303.88c.296.47.48.99.48 1.589V22"></path>
                    </g>
                </svg>
            </SocialBtn>
            <SocialBtn name="LinkedIn" url="https://www.linkedin.com/in/alex-valverde-torres/">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-astro-cid-socials="true">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.5 9.5H4c-.943 0-1.414 0-1.707.293S2 10.557 2 11.5V20c0 .943 0 1.414.293 1.707S3.057 22 4 22h.5c.943 0 1.414 0 1.707-.293S6.5 20.943 6.5 20v-8.5c0-.943 0-1.414-.293-1.707S5.443 9.5 4.5 9.5m2-5.25a2.25 2.25 0 1 1-4.5 0a2.25 2.25 0 0 1 4.5 0m5.826 5.25H11.5c-.943 0-1.414 0-1.707.293S9.5 10.557 9.5 11.5V20c0 .943 0 1.414.293 1.707S10.557 22 11.5 22h.5c.943 0 1.414 0 1.707-.293S14 20.943 14 20v-3.5c0-1.657.528-3 2.088-3c.78 0 1.412.672 1.412 1.5v4.5c0 .943 0 1.414.293 1.707s.764.293 1.707.293h.499c.942 0 1.414 0 1.707-.293c.292-.293.293-.764.293-1.706L22 14c0-2.486-2.364-4.5-4.703-4.5c-1.332 0-2.52.652-3.297 1.673c0-.63 0-.945-.137-1.179a1 1 0 0 0-.358-.358c-.234-.137-.549-.137-1.179-.137" color="currentColor"></path>
                </svg>
            </SocialBtn>

            <!-- CHANGE!!! -->
            <SocialBtn name="Resume" url="/name.pdf">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-astro-cid-socials="true">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.975 16.987V6.532c0-1.345.057-2.906 1.065-3.8C7.866 2 9.034 2 10.14 2h7.31c1.027 0 2.092.018 3.012.47q.112.055.213.115C22.042 3.388 22 5.302 22 6.885v10.532c0 1.041-.048 2.111-.48 3.059c-.414.907-.98 1.314-2.024 1.506M5.975 16.987h8.83c.413 0 .785.253.93.638c.126.337.23.627.323.9c.323.958.607 1.969 1.287 2.717c.409.45.838.678 1.41.74m-12.78-4.995H2.969c-.553 0-1.011.447-.966.997c.047.576.15 1.078.34 1.615c.336.95.92 1.911 1.88 2.225c.354.115.746.153 1.251.158h13.28m.742 0a4 4 0 0 1-.742 0m.742 0h-.742M10.469 7h7m-7 4h3.5" color="currentColor"></path>
                </svg>
            </SocialBtn>
            <SocialBtn name="Email" url="mailto:alexvalverdetorres2006@gmail.com">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-astro-cid-socials="true">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor">
                        <path d="m2 6l6.913 3.917c2.549 1.444 3.625 1.444 6.174 0L22 6"></path>
                        <path d="M2.016 13.476c.065 3.065.098 4.598 1.229 5.733c1.131 1.136 2.705 1.175 5.854 1.254c1.94.05 3.862.05 5.802 0c3.149-.079 4.723-.118 5.854-1.254c1.131-1.135 1.164-2.668 1.23-5.733c.02-.986.02-1.966 0-2.952c-.066-3.065-.099-4.598-1.23-5.733c-1.131-1.136-2.705-1.175-5.854-1.254a115 115 0 0 0-5.802 0c-3.149.079-4.723.118-5.854 1.254c-1.131 1.135-1.164 2.668-1.23 5.733a69 69 0 0 0 0 2.952"></path>
                    </g>
                </svg>
            </SocialBtn>
        </div>
        <div class="key-position flex items-center justify-center" data-astro-cid-socials>
            <a id="cta-hero-btn" class="key call-to-action peer" href="#bento" data-block="center" data-astro-cid-socials>
                <p class="call-to-action-content text-white" data-astro-cid-socials>Explore more</p>
            </a>
        </div>
    </div>
</section>