---
import HeroSocialBtn from "./HeroSocialBtn.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
        
<!-- About section -->
<section class="flex h-screen flex-col gap-8 pb-32 pt-24 sm:justify-center">
    <!-- Availability status -->
    <div class="flex w-fit items-center rounded-full gap-3 py-1.5 pl-3 pr-4 border border-zinc-600/75 bg-slate-950/25 enter-animation">
        <div class="relative size-4">
            <div class="absolute size-full animate-ping rounded-full bg-green-300 opacity-65"></div>
            <div class="drop-shadow-green size-full rounded-full bg-green-400"></div>
        </div>
        <h3 class="text-lg text-slate-200 max-xs:text-xs">{t('hero.status.available')}</h3>
    </div>

    <!-- Title and description CHANGE!!! -->
    <h1 class="enter-animation text-[clamp(2rem,7vw,3rem)] font-medium leading-[1.05] tracking-tight">
        {t(`hero.title.part1`)} <br> {t(`hero.title.part2`)}
    </h1>
    <h2 class="enter-animation mb-8 max-w-xl leading-relaxed text-slate-400 max-sm:text-sm">
        {t('hero.description')}
    </h2>

    <div class="flex flex-col items-start text-center max-sm:flex-col enter-animation" data-astro-cid-socials>
        <div class="board" data-astro-cid-socials>
            <HeroSocialBtn name="Github" url="https://github.com/Kattuuss" target="_blank">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-astro-cid-socials="true" target="_blank">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor">
                        <path d="M10 20.568c-3.429 1.157-6.286 0-8-3.568"></path>
                        <path d="M10 22v-3.242c0-.598.184-1.118.48-1.588c.204-.322.064-.78-.303-.88C7.134 15.452 5 14.107 5 9.645c0-1.16.38-2.25 1.048-3.2c.166-.236.25-.354.27-.46c.02-.108-.015-.247-.085-.527c-.283-1.136-.264-2.343.16-3.43c0 0 .877-.287 2.874.96c.456.285.684.428.885.46s.469-.035 1.005-.169A9.5 9.5 0 0 1 13.5 3a9.6 9.6 0 0 1 2.343.28c.536.134.805.2 1.006.169c.2-.032.428-.175.884-.46c1.997-1.247 2.874-.96 2.874-.96c.424 1.087.443 2.294.16 3.43c-.07.28-.104.42-.084.526s.103.225.269.461c.668.95 1.048 2.04 1.048 3.2c0 4.462-2.134 5.807-5.177 6.643c-.367.101-.507.559-.303.88c.296.47.48.99.48 1.589V22"></path>
                    </g>
                </svg>
            </HeroSocialBtn>
            <HeroSocialBtn name="LinkedIn" url="https://www.linkedin.com/in/alex-valverde-torres/" target="_blank">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-astro-cid-socials="true">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4.5 9.5H4c-.943 0-1.414 0-1.707.293S2 10.557 2 11.5V20c0 .943 0 1.414.293 1.707S3.057 22 4 22h.5c.943 0 1.414 0 1.707-.293S6.5 20.943 6.5 20v-8.5c0-.943 0-1.414-.293-1.707S5.443 9.5 4.5 9.5m2-5.25a2.25 2.25 0 1 1-4.5 0a2.25 2.25 0 0 1 4.5 0m5.826 5.25H11.5c-.943 0-1.414 0-1.707.293S9.5 10.557 9.5 11.5V20c0 .943 0 1.414.293 1.707S10.557 22 11.5 22h.5c.943 0 1.414 0 1.707-.293S14 20.943 14 20v-3.5c0-1.657.528-3 2.088-3c.78 0 1.412.672 1.412 1.5v4.5c0 .943 0 1.414.293 1.707s.764.293 1.707.293h.499c.942 0 1.414 0 1.707-.293c.292-.293.293-.764.293-1.706L22 14c0-2.486-2.364-4.5-4.703-4.5c-1.332 0-2.52.652-3.297 1.673c0-.63 0-.945-.137-1.179a1 1 0 0 0-.358-.358c-.234-.137-.549-.137-1.179-.137" color="currentColor"></path>
                </svg>
            </HeroSocialBtn>
            <HeroSocialBtn name={t('global.social.resume')} url=`/alex-valverde-torres-${lang}.pdf`target="_blank">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-astro-cid-socials="true">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5.975 16.987V6.532c0-1.345.057-2.906 1.065-3.8C7.866 2 9.034 2 10.14 2h7.31c1.027 0 2.092.018 3.012.47q.112.055.213.115C22.042 3.388 22 5.302 22 6.885v10.532c0 1.041-.048 2.111-.48 3.059c-.414.907-.98 1.314-2.024 1.506M5.975 16.987h8.83c.413 0 .785.253.93.638c.126.337.23.627.323.9c.323.958.607 1.969 1.287 2.717c.409.45.838.678 1.41.74m-12.78-4.995H2.969c-.553 0-1.011.447-.966.997c.047.576.15 1.078.34 1.615c.336.95.92 1.911 1.88 2.225c.354.115.746.153 1.251.158h13.28m.742 0a4 4 0 0 1-.742 0m.742 0h-.742M10.469 7h7m-7 4h3.5" color="currentColor"></path>
                </svg>
            </HeroSocialBtn>
            <HeroSocialBtn name="Email" url="mailto:alexvalverdetorres2006@gmail.com" target="_blank">
                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-astro-cid-socials="true">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" color="currentColor">
                        <path d="m2 6l6.913 3.917c2.549 1.444 3.625 1.444 6.174 0L22 6"></path>
                        <path d="M2.016 13.476c.065 3.065.098 4.598 1.229 5.733c1.131 1.136 2.705 1.175 5.854 1.254c1.94.05 3.862.05 5.802 0c3.149-.079 4.723-.118 5.854-1.254c1.131-1.135 1.164-2.668 1.23-5.733c.02-.986.02-1.966 0-2.952c-.066-3.065-.099-4.598-1.23-5.733c-1.131-1.136-2.705-1.175-5.854-1.254a115 115 0 0 0-5.802 0c-3.149.079-4.723.118-5.854 1.254c-1.131 1.135-1.164 2.668-1.23 5.733a69 69 0 0 0 0 2.952"></path>
                    </g>
                </svg>
            </HeroSocialBtn>
        </div>
        <div class="flex flex-row">
            <div class="key-position flex items-center justify-center" data-astro-cid-socials>
                <a id="cta-hero-btn" class="key call-to-action peer" href="#bento" data-block="center" data-astro-cid-socials="true">
                    <p class="call-to-action-content text-white" data-astro-cid-socials>{t('hero.cta.explore')}</p>
                </a>
            </div>
            <div class="board" data-astro-cid-socials>
                <!-- Shows spanish translation button on /en/ page -->
                { lang !== 'es' && (
                    <HeroSocialBtn name="Español" url="/es/" target="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                            <path d="M0 0h36v36H0z" fill="none" />
                            <path fill="#c60a1d" d="M36 27a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V9a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4z" />
                            <path fill="#ffc400" d="M0 12h36v12H0z" />
                            <path fill="#ea596e" d="M9 17v3a3 3 0 1 0 6 0v-3z" />
                            <path fill="#f4a2b2" d="M12 16h3v3h-3z" />
                            <path fill="#dd2e44" d="M9 16h3v3H9z" />
                            <ellipse cx="12" cy="14.5" fill="#ea596e" rx="3" ry="1.5" />
                            <ellipse cx="12" cy="13.75" fill="#ffac33" rx="3" ry=".75" />
                            <path fill="#99aab5" d="M7 16h1v7H7zm9 0h1v7h-1z" />
                            <path fill="#66757f" d="M6 22h3v1H6zm9 0h3v1h-3zm-8-7h1v1H7zm9 0h1v1h-1z" />
                        </svg>
                    </HeroSocialBtn>
                )}

                <!-- Shows english translation button on /es/ page -->
                { lang !== 'en' && (
                    <HeroSocialBtn name="English" url="/en/" target="">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                            <path d="M0 0h36v36H0z" fill="none" />
                            <path fill="#00247d" d="M0 9.059V13h5.628zM4.664 31H13v-5.837zM23 25.164V31h8.335zM0 23v3.941L5.63 23zM31.337 5H23v5.837zM36 26.942V23h-5.631zM36 13V9.059L30.371 13zM13 5H4.664L13 10.837z" />
                            <path fill="#cf1b2b" d="m25.14 23l9.712 6.801a4 4 0 0 0 .99-1.749L28.627 23zM13 23h-2.141l-9.711 6.8c.521.53 1.189.909 1.938 1.085L13 23.943zm10-10h2.141l9.711-6.8a4 4 0 0 0-1.937-1.085L23 12.057zm-12.141 0L1.148 6.2a4 4 0 0 0-.991 1.749L7.372 13z" />
                            <path fill="#eee" d="M36 21H21v10h2v-5.836L31.335 31H32a4 4 0 0 0 2.852-1.199L25.14 23h3.487l7.215 5.052c.093-.337.158-.686.158-1.052v-.058L30.369 23H36zM0 21v2h5.63L0 26.941V27c0 1.091.439 2.078 1.148 2.8l9.711-6.8H13v.943l-9.914 6.941c.294.07.598.116.914.116h.664L13 25.163V31h2V21zM36 9a3.98 3.98 0 0 0-1.148-2.8L25.141 13H23v-.943l9.915-6.942A4 4 0 0 0 32 5h-.663L23 10.837V5h-2v10h15v-2h-5.629L36 9.059zM13 5v5.837L4.664 5H4a4 4 0 0 0-2.852 1.2l9.711 6.8H7.372L.157 7.949A4 4 0 0 0 0 9v.059L5.628 13H0v2h15V5z" />
                            <path fill="#cf1b2b" d="M21 15V5h-6v10H0v6h15v10h6V21h15v-6z" />
                        </svg>
                    </HeroSocialBtn>
                )}
            </div>
        </div>
    </div>
</section>