---

---

<div class="flex bg-indigo-500 rounded-2xl justify-around items-center p-2 border-2 border-white">
    <div class="w-30">
        <h1 class="text-white font-bold">ALEX</h1>
        <h1 class="text-white font-bold">VALVERDE</h1>
        <h1 class="text-white font-bold">TORRES</h1>
    </div>
    <img src="random-pfp.png" alt="alex profile picture" class="w-20 h-20 rounded-full">
</div>