---
---
<div class="flex rounded-2xl justify-around items-center p-2 border-2 border-white h-50">
    
    <div class="bg-slate-600 rounded-full p-5 w-40 text-center border-b-3 border-white -rotate-17 hover:shadow-lg shadow-indigo-500">
        <p class="text-white text-xl">CONTACT</p>
    </div>

</div>