---

---

<div class="flex flex-col rounded-2xl justify-around items-center w-full gap-2">
    
    <div class="border-2 border-white rounded-2xl bg-white overflow-hidden w-full flex justify-center items-center">
        <img src="web-krawler.svg" alt="web crawler image" class="w-full h-full object-contain p-4">
    </div>

    <div class="border-2 border-white rounded-2xl bg-white overflow-hidden w-full flex justify-center items-center">
        <img src="muume.svg" alt="muume image" class="w-full h-full object-contain p-4">
    </div>

</div>