---

---

<div class="flex flex-col justify-around items-center gap-2 w-full rounded-2xl">
    <div class="relative group flex justify-center items-center border-2 w-full border-white rounded-2xl bg-white overflow-hidden">
        <img src="web-krawler.svg" alt="web crawler image">
        
        <div class="absolute top-3 right-3 opacity-0 transition-opacity duration-300 group-hover:opacity-100">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25" />
            </svg>
        </div>
    </div>

    <div data-bento-card class="relative group flex justify-center items-center border-2 w-full border-white rounded-2xl bg-white overflow-hidden">
        <img src="muume.svg" alt="muume image">

        <div class="absolute top-3 right-3 opacity-0 transition-opacity duration-300 group-hover:opacity-100">
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
            </svg>
        </div>
    </div>
</div>