@import "tailwindcss";
@plugin '@tailwindcss/typography';
@import 'tailwind-animations';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

@theme {
    --font-jetbrains: 'JetBrains Mono';
}