---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

import NavEntry from "./NavEntry.astro";
import Divider from "./Divider.astro";


const entries = [
    { redirectedPage: 'home', url: `/${lang}/`, label: t('nav.home'), viewbox: '0 0 24 24', icon: '<path fill="currentColor" d="M3 13h1v7c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-7h1c.4 0 .77-.24.92-.62c.15-.37.07-.8-.22-1.09l-8.99-9a.996.996 0 0 0-1.41 0l-9.01 9c-.29.29-.37.72-.22 1.09s.52.62.92.62Zm9-8.59l6 6V20H6v-9.59z" />'},
    { redirectedPage: 'projects', url: `/${lang}/projects`, label: t('nav.projects'), viewbox: '0 0 24 24', icon: '<path fill="currentColor" d="M12.876.64V.639l8.25 4.763c.541.313.875.89.875 1.515v9.525a1.75 1.75 0 0 1-.875 1.516l-8.25 4.762a1.75 1.75 0 0 1-1.75 0l-8.25-4.763a1.75 1.75 0 0 1-.875-1.515V6.917c0-.625.334-1.202.875-1.515L11.126.64a1.75 1.75 0 0 1 1.75 0m-1 1.298L4.251 6.34l7.75 4.474l7.75-4.474l-7.625-4.402a.25.25 0 0 0-.25 0m.875 19.123l7.625-4.402a.25.25 0 0 0 .125-.216V7.639l-7.75 4.474ZM3.501 7.64v8.803c0 .09.048.172.125.216l7.625 4.402v-8.947Z" />'},
    { redirectedPage: 'blog', url: `/${lang}/blog`, label: t('nav.blog'), viewbox: '0 0 32 32', icon: '<path fill="currentColor" d="M4 24h10v2H4zm0-6h10v2H4zm22-4H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h20a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2M6 6v6h20V6Zm20 22h-6a2 2 0 0 1-2-2v-6a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v6a2 2 0 0 1-2 2m-6-8v6h6v-6Z" />'},
    { redirectedPage: 'about', url: `/${lang}/underConstruction`, label: t('nav.about'), viewbox: '0 0 48 48', icon: `
            <path d="M0 0h48v48H0z" fill="none" />
            <g fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="4">
                <path stroke-linecap="round" d="M24 44c11.046 0 20-8.954 20-20S35.046 4 24 4S4 12.954 4 24s8.954 20 20 20" clip-rule="evenodd" />
                <path d="M24 23a5 5 0 1 0 0-10a5 5 0 0 0 0 10Z" />
                <path stroke-linecap="round" d="M10.022 38.332C10.366 33.121 14.702 29 20 29h8c5.291 0 9.623 4.11 9.977 9.311" />
            </g>
        `}
];

---

<div id="nav-container" class="fixed z-10 bottom-[32px] hidden max-[960px]:flex">
    <nav class="nav-island mx-auto overflow-hidden rounded-[32px] w-fit bg-black transition-all duration-300 opacity-80">
        <ul class="mx-auto w-max p-1 flex items-center">                    
            {entries.map((entry, index) => (
                <>
                    <NavEntry {...entry} />
                    {index < entries.length -1 && <Divider />}
                </>
            ))}
        </ul>
    </nav>
</div>