---
import ShellLayout from "../layouts/ShellLayout.astro";

export const pageTitle = "Contact";
---

<ShellLayout pageTitle={pageTitle}>
    <div class="flex flex-col justify-center items-center px-5">
        <h2 class="font-bold text-white text-4xl pb-7">Message me!</h2>
        
        <form action="" class="text-black flex flex-col w-full gap-5">
            <input type="text" placeholder="First Name" class="bg-white border-2 border-indigo-400 rounded-sm">
            <input type="text" placeholder="Surname(s)" class="bg-white border-2 border-indigo-400 rounded-sm">
            <textarea placeholder="Message" class="h-32 bg-white border-2 border-indigo-400 rounded-sm"></textarea>
            <input type="submit" value="Send!" class="bg-indigo-500 text-white font-bold rounded-lg p-1">
        </form>
    </div>
</ShellLayout>