---
import ShellLayout from '../layouts/ShellLayout.astro';

const pageTitle = "Home";
---

<ShellLayout pageTitle={pageTitle}>
	<div class="flex flex-col justify-center items-center gap-y-3">
		<h1 class="text-white text-xl italic font-bold mr-12 font-jetbrains">Hi everyone ...</h1>
		<h1 class="text-white text-xl italic font-bold ml-12 font-jetbrains">... <span class="underline">Kattus</span> here!</h1>
	</div>
</ShellLayout>