---
import ShellLayout from "../layouts/ShellLayout.astro";

import ProjectCard from "../components/works/ProjectCard.astro";
import Stack from "../components/works/Stack.astro";
import Tree from "../components/works/Tree.astro";

const pageTitle = "Works";
// const projectsFolder = "src/assets/projects/";

interface LogoDictionary {
    [key: string]: string;
}

const logos: LogoDictionary = {
    java: "logos:java",
    oracle: "devicon:sqldeveloper",
    spring: "devicon:spring",
    springboot: "simple-icons:springboot",
    astro: "vscode-icons:file-type-astro",
    tailwind: "devicon:tailwindcss",
    gsap: "simple-icons:gsap",
    lua: "devicon:lua",
    typescript: "devicon:typescript",
    linux: "devicon:linux",
    arch: "devicon:archlinux",
    ubuntu: "logos:ubuntu",
    windows: "devicon:windows11",
    html: "devicon:html5",
    bash: "devicon-plain:bash"
};
---

<!-- TODO: Reduce via components (ProjectsSection and StacksSection) -->

<ShellLayout pageTitle={pageTitle}>
    <!-- General container -->
    <div class="flex flex-col gap-12 max-w-5xl mx-auto w-full px-4 py-4">
        <!-- Stacks container -->
        <div class="flex flex-col w-full text-white font-mono">
            <!-- Stacks section -->
            <h2 class="text-white font-bold mb-4 text-xl">
                <!-- Terminal command -->
                <span class="text-gray-500 text-2xl">$</span> tree ~/Stacks/
            </h2>
            
            <!-- Individual technologies container -->
            <div class="flex flex-col w-full">
                <Stack 
                    tree="├──"
                    stackName="main"
                    technologies={[
                        { name: "Java", icon: logos.java },
                        { name: "Oracle SQL", icon: logos.oracle },
                        { name: "Spring", icon: logos.spring },
                        { name: "Spring Boot", icon: logos.springboot }
                    ]}
                />
                
                <Stack 
                    tree="├──"
                    stackName="complementary"
                    technologies={[
                        { name: "Astro", icon: logos.astro },
                        { name: "TailwindCSS", icon: logos.tailwind },
                        { name: "GSAP", icon: logos.gsap }
                    ]}
                />

                <Stack 
                    tree="├──"
                    stackName="want-to-learn"
                    technologies={[
                        { name: "Lua", icon: logos.lua },
                        { name: "Typescript", icon: logos.typescript }
                    ]}
                />

                <Stack 
                    tree="└──"
                    stackName="tools"
                    technologies={[
                        { name: "Linux", icon: logos.linux },
                        { name: "Arch", icon: logos.arch },
                        { name: "Ubuntu", icon: logos.ubuntu },
                        { name: "Windows", icon: logos.windows },
                        { name: "Bash", icon: logos.bash }
                    ]}
                />
            </div>
         </div>

        <!-- Projects container -->
        <div class="flex flex-col items-start w-full text-white font-mono">
            <!-- Projects section -->
            <h3 class="text-white font-bold mb-4 text-xl">
                <!-- Terminal command (alias) -->
                <span class="text-gray-500 text-2xl">$</span> check-projects
            </h3>

            <!-- Projects tree -->
            <Tree 
                parentDir="Projects"
                childDirs={ ["WEB-KRAWLER", "MUUME", "KATTUS.DEV"] }
            />

            <!-- Projects content -->
            <div class="flex flex-col md:flex-row flex-wrap justify-start items-stretch gap-8 w-full pb-4">
                <ProjectCard 
                    projectName="WEB-KRAWLER" 
                    projectImage={`/krawler-logo.png`} 
                    projectAlt="Web-Krawler logo"
                    projectDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Beatae, laborum. Dolore, omnis. Molestiae, iste sapiente 
                                        ipsum suscipit natus totam deleniti aut!"
                    projectTags={ [logos.java] }
                />

                <ProjectCard 
                    projectName="MUUME" 
                    projectImage={`/muume.png`} 
                    projectAlt="MuuMe logo" 
                    projectDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Beatae, laborum. Dolore, omnis. Molestiae, iste sapiente 
                                        ipsum suscipit natus totam deleniti aut!"
                    projectTags={ [logos.springboot, logos.java, logos.oracle] }
                />

                <ProjectCard 
                    projectName="KATTUS.DEV"
                    projectImage={`/kattus.dev.png`}
                    projectAlt="Kattus's personal website"
                    projectDescription="Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        Beatae, laborum. Dolore, omnis. Molestiae, iste sapiente 
                                        ipsum suscipit natus totam deleniti aut!"
                    projectTags={ [logos.html, logos.tailwind, logos.gsap, logos.astro] }
                />
            </div>
        </div>
    </div>
</ShellLayout>