---
import '../styles/global.css';
import ShellContent from '../components/layout-parts/ShellContent.astro';

const {pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="bg-[#0a0f0d] h-screen overflow-hidden">
            <ShellContent>
				<slot />
			</ShellContent>
        </div>
    </body>
</html>