---
// Use Astro's API to remove the manual <li> entries
// const allPages = Object.values(import.meta.glob('./*.astro', { eager: true }));
---

<!-- KEEP: In case of adding a toggle for full screen -->

<div class="bg-indigo-600 border-b-indigo-300 rounded-2xl text-white w-70 p-2">
    <ul class="flex flex-row justify-center items-center gap-3">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div>