---
import { Icon } from "astro-icon/components";
---

<!-- TODO: Use a map to reduce hardcoded anchors -->

<div class="flex flex-col gap-3 rounded-full bg-[#141b18] w-8">
    <a href="/" class="rounded-full text-2xl bg-purple-400 text-[#dde8e2] flex justify-center items-center h-8">
        <Icon name="material-symbols:home-rounded" class="text-xl" />
    </a>
    <a href="/works" class="rounded-full text-2xl text-[#dde8e2] flex justify-center items-center h-8">
        <Icon name="material-symbols:code-rounded" class="text-xl"/>
    </a>
    <a href="/about" class="rounded-full text-2xl text-[#dde8e2] flex justify-center items-center h-8">
        <Icon name="material-symbols:person" class="text-xl" />
    </a>
    <a href="/contact" class="rounded-full text-2xl text-[#dde8e2] flex justify-center items-center h-8">
        <Icon name="material-symbols:send-rounded" class="text-xl" />
    </a>
    <a href="/" class="rounded-full text-2xl text-[#dde8e2] flex justify-center items-center h-8">
        <Icon name="mdi:pen" class="text-xl" />
    </a>
</div>