---
import { Icon } from "astro-icon/components";

interface Props {
    pageTitle: string;
    navIcon: string;
}

const { pageTitle, navIcon } = Astro.props;
---

<div class="flex flex-col justify-center items-center gap-2">
    <Icon name={navIcon} class="text-white text-lg" />
    <p class="text-white [writing-mode:sideways-lr] tracking-widest w-8">{pageTitle}</p>
</div>