---
---

<div class="absolute -z-10 h-screen w-screen max-w-full overflow-hidden min-[2048px]:max-w-[2048px]">
    <div class="absolute rounded-full blur-[48px] ray-light-secondary h-[117px] w-[585px] -rotate-[37deg] opacity-20 -top-[40px] left-[560px]"></div>
    <div class="absolute rounded-full blur-[48px] ray-light-secondary h-[267px] w-[1192px] -rotate-[37deg] opacity-45 -top-[60px] left-[680px]"></div>
</div>